section.add-data-bulk{
    .form-manual{
        margin-top: 40px;
    }

    .group-btn{
        margin-top: 30px;
        span{
            padding-right: 10px;
            button, a{
                i{
                    position: relative;
                    top: 3px;
                    font-size: 16px;
                }
            }
        }
    }

    .wrapper-reupload{
        margin-bottom: 15px;
        width: 100%;
        a, button{
            float: right;
            i{
                position: relative;
                top: 3px;
                font-size: 16px;
            }
            &.btn-finish{
                margin-top: 10px;
                margin-right: 2px;
            }
            &.btn-submit{
                margin-top: 10px;
                margin-right: 10px;
            }
        }
    }

    .preview-table{
        margin-top: 25px;
        .table{
            span{
                button, a{
                    i{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .btn-submit{
        margin-top: 15px;
        float: right;
    }
}