section.add-bobot{
    .table{
        button{
            i{
                position: relative;
                top: 2px;
            }
        }
        span{
            button{
                font-size: 16px;
            }
        }
    }
}