@import "../libs/color.scss";

.card{
    .card-body{
        .row{
            .count-title{
                margin-bottom : 15px;
                span{
                    width: 100%;
                    display: block;
                }
            }
            .count-number{
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}