@import "../libs/color.scss";

.card{
    .card-body{
        .row{
            .add-margin{
                margin-top: 40px;
            }
            .count-title{
                margin-bottom : 15px;
                span{
                    width: 100%;
                    display: block;
                }
            }
            .count-number{
                font-size: 35px;
                
                .compare {
                    font-size: 12px;
                    color: #838383;
                    margin-top: 13px;

                    .sub-compare {
                        position: relative;
                        right: 5%;
                        padding-right: 22%;
                    }

                    .sub-percent {
                        position: relative;
                        left: 25%;

                        .sub-number{
                            width: 100%;
                            display: block;
                            
                            &.red{
                                color:#e54d42;
                            }
    
                            &.green{
                                color:#00c18d
                            }
    
                            .icon {
                                float: left;
                                position: absolute;
                                font-size: 23px;
                                left: 55px;
                                top: -10px;
                            }
                            
                        }
                    }
                    
                }
            }
        }
    }
}