@import "../libs/color.scss";

.inventory-status{
    .card {
       .table-detail-inventory{
            td{
                .form-group{
                    select{
                        &.float-left{
                            height: 45px;
                        }
                    }
                    a{
                        position: relative;
                        left: 15px;
                    }

                }
            }
       }
    }
}