.card .card-body .row .col-md-6 .count-number .compare .sub-percent .sub-number .icon {
  left: 34%;
}

.card .card-body .row .col-md-12 .count-number .compare .sub-compare {
  right: 31%;
}

.card .card-body .row .col-md-12 .count-number .compare .sub-percent {
  left: 40%;
}

.card .card-body .row .col-md-12 .count-number .compare .sub-percent .sub-number .icon {
  left: 43%;
}

.card .card-body .row .add-margin {
  margin-top: 40px;
}

.card .card-body .row .count-title {
  margin-bottom: 15px;
  font-size: 17px;
}

.card .card-body .row .count-title span {
  width: 100%;
  display: block;
}

.card .card-body .row .count-number {
  font-size: 46px;
}

.card .card-body .row .count-number .compare {
  font-size: 12px;
  color: #838383;
  margin-top: 13px;
}

.card .card-body .row .count-number .compare .sub-compare {
  position: relative;
  right: 22%;
  padding-right: 22%;
  top: 3%;
}

.card .card-body .row .count-number .compare .sub-compare .sub-number {
  display: block;
  font-size: 17px;
}

.card .card-body .row .count-number .compare .sub-percent {
  position: relative;
  left: 30%;
}

.card .card-body .row .count-number .compare .sub-percent .sub-number {
  width: 100%;
  display: block;
  font-size: 17px;
}

.card .card-body .row .count-number .compare .sub-percent .sub-number.red {
  color: #e54d42;
}

.card .card-body .row .count-number .compare .sub-percent .sub-number.green {
  color: #00c18d;
}

.card .card-body .row .count-number .compare .sub-percent .sub-number .icon {
  float: left;
  position: absolute;
  font-size: 23px;
  left: 24%;
  top: -3px;
}

section.add-bobot .table button i {
  position: relative;
  top: 2px;
}

section.add-bobot .table span button {
  font-size: 16px;
}

section.add-data-bulk .group-btn {
  margin-top: 30px;
}

section.add-data-bulk .group-btn span {
  padding-right: 10px;
}

section.add-data-bulk .group-btn span button i,
section.add-data-bulk .group-btn span a i {
  position: relative;
  top: 3px;
  font-size: 16px;
}

section.add-data-bulk .preview-table .table span button i,
section.add-data-bulk .preview-table .table span a i {
  font-size: 18px;
}

section.add-data-bulk .btn-submit {
  margin-top: 15px;
  float: right;
}

.fade.animation.show {
  opacity: 1 !important;
}

.hide {
  display: none;
}

.font-bold {
  font-weight: bold;
}

.card .font-bold {
  font-weight: bold;
}

.card .dropdown.small.line::after {
  content: "";
  position: relative;
  top: -18px;
  flex: 1 1 auto;
  height: 0;
  border-top: 2px solid #dde4eb;
  display: block;
}

.card .dropdown.small button {
  font-size: 10px;
}

.card .card-body {
  font-family: gdcustomfont, avenir, "Helvetica Neue", arial, sans-serif;
}

.card .card-body.line {
  display: flex;
}

.card .card-body.line::after {
  content: "";
  position: relative;
  top: 10px;
  flex: 1 1 auto;
  height: 0;
  border-top: 1px solid #dde4eb;
  display: block;
}

.card .card-body .col-md-4,
.card .card-body .col-md-3,
.card .card-body .col-md-5,
.card .card-body .col-md-6,
.card .card-body .col-md-12 {
  margin-bottom: 60px;
}

.card .card-body .border-carding {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  max-height: 260px;
}

.card .card-body .line-dot {
  border-left: 2px dotted #799579;
  height: 59%;
  position: relative;
  top: -39px;
  display: inline-block;
  left: 51%;
}

.card .card-body .card-title {
  float: left;
  position: relative;
  z-index: 1;
  background: #fff;
  padding-right: 20px;
}

