.page-about .bg {
  background: #EDF7FF;
  padding-bottom: 50px;
  position: relative;
  top: 50px;
  margin-bottom: 90px;
}

.page-about .box {
  margin-left: 25px;
}

.page-about .box h1 {
  font-weight: bold;
}

.page-about .box h1 span {
  color: #90BAD0;
}

.page-about .box p {
  font-size: 16px;
  top: 8px;
  position: relative;
}

.page-about .box img {
  width: 271px;
}

